.header{ background-color: red;
         height:100px; }

 .container{ overflow: hidden;
 
 }

 .blog{ 
 	    width: 65%;
 	    height:200px;
 	    background-color: green;
 	    float: left;



 }

 .vlog{ 
 		width: 35%;
 		height:200px;
		background-color: orange;
		float: right;

 }

 .footer{ width: 100%;
 		  height:100px;
		  background-color: yellow;


 }

 

 .list{ 
 		width: 33.33%;
 		height: 200px;
 		background-color: deeppink;
 		float: left;

 }

 .number {
 		width: 33.33%;
 		height: 200px;
 		background-color: purple;
 		display: inline-block;
 		float: left;

 }
 
 .column{
 		width: 33.33%;
 		height: 200px;
 		background-color: skyblue;
 		display: inline-block;
 		float: left;

}

.footer-2{ 
		  width: 100%;
 		  height:100px;
		  background-color: sandybrown;
}

